body {
  padding: 0px;
  margin: 0px;
  font-family: Lato;
  background-color: #e6f2ff;
}

.container {
  margin: 0px;
  width: 100%;
}

h1 {
  font-family: Lato;
  color: white;
  font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  position: absolute;
  top: -14px;
  left: 20px;
  /*text-shadow: 3px 3px rgba(11,11,11, 0.5);*/
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

.header {
  background-color: #595959;
  height: 60px;
}

.btn {
  height: 100px;
  width: 100px;
  border-radius: 20%;
  border: 2px solid black;
  background-color: white;
}

#NONE {
  display: none;
}

h2.wheel {
}

div.controller.wheel {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10%;
}

div.title.controller {
  border: 0px;
  font-family: Lato;
}

.pressing {
  background-color: #33cc33;
}

div.ip_input {
  background-color: #cceeff;
  padding: 10px;
}

h3.ip_input {
  display: inline;
}

input.ip_input {
  display: inline;
  border: none;
  border-bottom: 1px solid grey;
  height: 30px;
  width: 300px;
}

button.ip_input {
  margin-left: 10px;
  background-color: white;
  border: 1px solid black;
  height: 30px;
  border-radius: 10%;
}

button.ip_input:hover {
  box-shadow: 0px 0px 5px grey;
}

button#remove_auth {
  display: inline;
  background-color: red;
  border: 1px solid black;
  height: 30px;
  border-radius: 10%;
}

button#remove_auth:hover {
  box-shadow: 0px 0px 5px grey;
}

p#current_auth_token {
  margin-top: 10px;
}

div.connect {
  height: 35px;
  line-height: 35px;
  text-align: center;
}

p.connect {
  display: inline;
}

button.connect {
  border-radius: 50%;
  display: inline-flex;
  padding: 8px;
  background-color: red;
  border: none;
  position: relative;
  top: -4px;
  margin: 10px;
}

button.connect#refresh {
  background: url("images/refresh.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: none;
  border: none;
  padding: 12px;
}

h2.cam {
  margin-top: 20px;
}

button#resetCam {
  text-align: center;
  background-color: white;
  width: 50px;
  border: 1px solid black;
  height: 30px;
  padding: 5px;
  border-radius: 12%;
  margin-top: 50px;
}

button#resetCam:hover {
  box-shadow: 0px 0px 5px grey;
}

div.controller.cam {
  margin-top: 50px;
}
